*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    /* background-color: red; */
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 30px;
}
#nav h4{
    font-size: 20px;
    font-weight: 600;
}
#nav i{
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
}
#center{
    /* height: 40%; height nahi dena he ye apne child ke according le lega height */
    width: 100%;
    /* background-color: red; */
    padding: 20px 80px;
}
#center h1{
    font-size: 70px;
    line-height: 80px;
}
#center-in{
    /* background-color: red; */
    height: 120px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 20px;
    line-height: 25px;
    font-weight: 580;
}
#center-right{
    width: 20%;
}
.elem{
    /* background-color: yellow; */
    height: 35%;
    /* margin: 25px; */
    padding: 15px;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.elem i{
    font-size: 20px;
    font-weight: 400;
    opacity: 0;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover{
    background-color: rgb(241, 247, 247);
}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    height: 40%;
    /* background-color: rebeccapurple; */
    width: 100%;
    background-image: url("https://plus.unsplash.com/premium_photo-1706276543340-3c2e45405d7d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: 0 30%;
}